.login {
  background: linear-gradient(
    to right,
    rgb(22, 129, 97),
    rgb(48, 48, 185),
    rgb(32, 59, 92)
  );
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  background-color: white;
  height: 50%;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#internet-name {
  font-size: 30px;
  text-align: center;
}
.login form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.login-form-row {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-form-row label {
  font-size: 20px;
}
#login-icon-span {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px 10px;
  align-items: center;
  border: solid 1px gray;
  border-radius: 12px;
}
#login-icon-span:hover {
  border: solid 1px green;
}
#login-icon-span input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 18px;
  height: 100%;
  width: 100%;
}
#remember-forgot {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
#remember-forgot span {
  display: flex;
  gap: 5px;
}
#remember-forgot input {
  width: 15px;
}
#remember-forgot a {
  text-decoration: none;
}
.login-box button {
  border: none;
  outline: none;
  color: white;
  background-color: rgb(243, 40, 40);
  height: 45px;
  border-radius: 8px;
  font-size: 20px;
  margin-top: 15px;
}
.login-box button:hover {
  background-color: rgb(146, 28, 28);
}
#register-link {
  margin-top: 10px;
  padding: 0 20px;
  font-size: 18px;
}
#error-message {
  color: red;
  margin: 0;
  font-size: 15px;
}
